# OS & Editor Settings
.idea/
.vscode/
.DS_Store

# Virtual Environments
.venv/

result/
result

# Infrastructure (Vagrant & Nix)
.vagrant/

# Local Databases & Temp files
/tmp/*
!/tmp/*/
!/tmp/**/*.example
db_ip.txt

# Go & Gin Framework (Generated)
# Project specific binary
minitwit

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.qcow2
